.more-menu-wrapper {
  position: relative;

  .more-menu-icon {
    height: 100px;
    padding: 30px 10px 0px 10px;
    font-weight: bold;
    font-size: 25px;
    color: #000;
  }

  &:hover .more-menu-icon {
    color: #d5001c;
  }

  .more-menu-border {
    height: 2px;
  }

  &:hover .more-menu-border {
    border-bottom: 2px solid #d5001c;
  }

  .more-menu-overlay {
    position: absolute;
    top: 0;
    height: 102px;
    width: 100%;
  }

  &:active .more-menu-overlay {
    border: 2px solid #d5001c;
  }
}
