.nav-bar-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 9px;

  .nav-bar-item-wrapper-inner {
    height: 100px;

    .nav-bar-item-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .nav-bar-item-text {
    margin-top: -6px;
    text-align: center;
    font-size: 16px;

    &:hover {
      cursor: default;
    }
  }

  .nav-bar-item-border {
    width: 105px;
    height: 2px;
  }

  &:hover .nav-bar-item-border {
    border-bottom: 2px solid #d5001c;
  }

  &:hover {
    color: #d5001c;
  }

  &:active .nav-bar-item-overlay {
    position: absolute;
    width: 120px;
    height: 102px;
    border: 2px solid #d5001c;
  }
}
