.nav-bar-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 9px;

  .nav-bar-item-wrapper-inner {
    height: 100px;
  }

  .nav-bar-item-text {
    margin-top: -10px;
    text-align: center;
    font-size: 16px;

    &:hover {
      cursor: default;
    }
  }

  .nav-bar-item-border {
    width: 105px;
    height: 2px;
  }

  &:hover .nav-bar-item-border {
    border-bottom: 2px solid #d5001c;
  }

  &:hover {
    color: #d5001c;
  }
}
